.App {
  position: relative;
}

.App--overlay {
  position: absolute;;
  top: 0;
  background: rgba(125, 125, 125, .5);
  width: 100%;
  height: 100%;
}

.App--padding {
  padding: .5em 0;
}
